<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu Principal</ion-title>
    <ion-buttons end>
      <ion-badge  *ngIf="numberMsg != 0">{{numberMsg}}</ion-badge>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-toolbar color="primary">
		<ion-searchbar placeholder="Busqueda.." [(ngModel)] = "searchString"></ion-searchbar>
		<ion-buttons end>
			<button ion-button (click)="goSearch()">Buscar</button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item>
    <ion-range min="0" max="150" [(ngModel)]="distancia" color="secondary" pin="true">
      <ion-label range-left>0km</ion-label>
      <ion-label range-right>150km</ion-label>
    </ion-range>
  </ion-item>

  <ion-label align="center">Distancia seleccionada = {{distancia}}</ion-label>

  <ion-list>
    <ion-card *ngFor="let item of actividades">
        <ion-card-header>
          {{item.titulo}}
        </ion-card-header>
      <ion-card-content>
        Descripción: {{item.descripcion}} <hr>
        Horas: {{item.horasActividad}} <hr>
        <ionic3-star-rating
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#488aff"
          defaultColor = "#968A8A"
          readonly="true"
          [rating]= "item.estrellas">
        </ionic3-star-rating> <hr>
        Tags: {{item.tags}} <hr>
        <ion-chip class="listaTags" *ngFor="let tag of item.tags">
            <ion-label>{{tag}}</ion-label>
          <button ion-button clear color="grey" (click)="BusquedaTag(tag)">
              <ion-icon name="search"></ion-icon>
          </button>
        </ion-chip>
        <ion-row>
          <ion-col align="right">
            <button ion-button item-right color="checkmark-circle" clear icon-only (click)="solicitarActividad(item)">Solicitar</button>
          </ion-col>
          <ion-col>
            <button ion-button item-right color="checkmark-circle" clear icon-only (click)="verMapaActividad(item)">Mapa</button>
          </ion-col>
          <ion-col>
            <button ion-button item-right color="checkmark-circle" clear icon-only (click)="goMostrarActividad(item)">Ver</button>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card *ngFor="let item2 of actividades2" (click)="goMostrarActividad(item2)" >
      <ion-card-header>
        {{item2.titulo}}
      </ion-card-header>
      <ion-card-content>
        Descripción: {{item2.descripcion}} <hr>
        Horas: {{item2.horasActividad}} <hr>
        <ionic3-star-rating
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#488aff"
          defaultColor = "#968A8A"
          readonly="true"
          [rating]= "item2.estrellas">
        </ionic3-star-rating> <hr>
        Tags: {{item2.tags}} <hr>
        <ion-chip class="listaTags" *ngFor="let tag2 of item2.tags">
          <ion-label>{{tag2}}</ion-label>
          <button ion-button clear color="grey" (click)="BusquedaTag(tag2)">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-chip>
        <ion-row>
          <ion-col align="right">
            <button ion-button item-right color="checkmark-circle" clear icon-only (click)="solicitarActividad(item2)">Solicitar</button>
          </ion-col>
          <ion-col></ion-col>
          <ion-col>
            <button ion-button item-right color="checkmark-circle" clear icon-only (click)="goMostrarActividad(item)">Ver</button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>

<!--
  <ion-list>
    <hr>
    <h3>Actividades:</h3>
    <button ion-item *ngFor="let item of actividades" (click)="itemTapped($event, item)">
      Título: {{item.titulo}} <hr>
      Descripción: {{item.descripcion}} <hr>
      Tags: {{item.tags}}
    </button>
  </ion-list>
-->



  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>



