<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu Principal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-toolbar color="primary">
		<ion-searchbar placeholder="Busqueda.." [(ngModel)] = "searchString"></ion-searchbar>
		<ion-buttons end>
			<button ion-button (click)="goSearch()">Buscar</button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item>
    <ion-range min="0" max="150" [(ngModel)]="distancia" color="secondary" pin="true">
      <ion-label range-left>0km</ion-label>
      <ion-label range-right>150km</ion-label>
    </ion-range>
  </ion-item>

  <ion-label align="center">Distancia seleccionada = {{distancia}}</ion-label>

  <ion-list>
    <ion-card *ngFor="let item of actividades" (click)="goMostrarActividad(item)">
      <ion-card-header>
        {{item.titulo}}
      </ion-card-header>
      <ion-card-content>
        Descripción: {{item.descripcion}} <hr>
        Tags: {{item.tags}} <hr>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list>
    <ion-card *ngFor="let item2 of actividades2" (click)="goMostrarActividad(item)" >
      <ion-card-header>
        {{item2.titulo}}
      </ion-card-header>
      <ion-card-content>
        Descripción: {{item2.descripcion}} <hr>
        Tags: {{item2.tags}} <hr>
      </ion-card-content>
    </ion-card>
  </ion-list>

<!--
  <ion-list>
    <hr>
    <h3>Actividades:</h3>
    <button ion-item *ngFor="let item of actividades" (click)="itemTapped($event, item)">
      Título: {{item.titulo}} <hr>
      Descripción: {{item.descripcion}} <hr>
      Tags: {{item.tags}}
    </button>
  </ion-list>
-->



  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>



