<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Catálogo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-card *ngFor="let item of actividades">
      <ion-card-header>
        {{item.titulo}}
        <button ion-button icon-end color="danger" clear icon-only (click)="goToEditarActividad(item)">
          <ion-icon small  name='brush' is-active="false"></ion-icon>
        </button>
        <button ion-button icon-end color="danger" clear icon-only (click)="eliminarActivity(item)">
          <ion-icon small  name='trash' is-active="false"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        Descripción: {{item.descripcion}} <hr>
        Tags: {{item.tags}} <hr>
        <ion-chip class="listaTags" *ngFor="let room of item.fullRooms">
          <ion-label *ngIf="propietario === room[0].users[1].userName"
                      (click)="contactar(room[0].users[0], room[0].users[1], item._id)">
            {{room[0].users[0].userName}}
          </ion-label>
          <ion-label *ngIf="propietario === room[0].users[0].userName"
                     (click)="contactar(room[0].users[0], room[0].users[1], item._id)">
            {{room[0].users[1].userName}}
          </ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
