page-actividades-en-curso {

    .c1 {
        background-color: #99beff
    }
    .c2 {
        background-color: #f8d94c
    }
    .c4 {
        background-color: #828488
    }
    .finalizar{
        background-color: #19c035;
        text-align: center;
        width: 60px;
        height: 155px;
    }
    
    

}
