<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Actividades en curso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-card *ngFor="let item of result" >
      <ion-item>
          <button *ngIf="item.estado == 1" ion-button item-end color="checkmark-circle" clear icon-only (click)="aceptarActivity(item.actividad , item.propietario , item.idCliente)">
            <ion-icon small  name='checkmark-circle' is-active="false"></ion-icon>
          </button>
          <button  *ngIf="item.estado == 1" ion-button item-end color="danger" clear icon-only (click)="declinarActivity(item.actividad , item.propietario , item.idCliente)">
            <ion-icon small  name='close-circle' is-active="false"></ion-icon>
          </button>
          <button *ngIf="item.estado == 2 && item.propietario == nickUsuario" ion-button item-end class="finalizar" (click)="finalitzarActivity(item.actividad , item.propietario , item.idCliente)">
          Finalizar</button>
          <button *ngIf="item.estado == 3 && item.propietario != nickUsuario" ion-button item-end color="dark" clear icon-only (click)="valorarActividad(item.actividad , item.propietario , item.idCliente)">
            <ion-icon small  name='stats' is-active="false"></ion-icon>
          </button>
          <!--Estado de la actividad-->
          <button *ngIf="item.estado == 10" ion-button item-end class="c1">
            <ion-icon small  name='eye' is-active="false"> En espera</ion-icon>
          </button>
          <li *ngIf="item.estado == 2" item-end class="c2">
            <ion-icon small  name='eye' is-active="false"> En curso</ion-icon> 
          </li>
          <button *ngIf="item.estado == 2" ion-button item-end class="c2">
            <ion-icon small  name='eye' is-active="false"> En curso</ion-icon>
          </button>
          <button *ngIf="item.estado == 3" ion-button item-end class="c2">
            <ion-icon small  name='eye' is-active="false"> Pendiente de valorar</ion-icon>
          </button>
          <button *ngIf="item.estado == 4" ion-button item-end class="c4">
            <ion-icon small  name='eye' is-active="false"> Finalizado</ion-icon>
          </button>
          <ion-card-header >
            {{item.actividad}}
          </ion-card-header>
      </ion-item>
      
      <ion-card-content>

        <ul><li> El propietario es {{item.propietario}}</li>
            <li><a routerLink="" (click)="perfilAjeno(item)"> El cliente es {{item.cliente}}</a></li>
            <li *ngIf="item.propietario == nickUsuario && item.estado == 4" color = "green"> Horas actividad = + {{item.horasActividad}}</li>
            <li *ngIf="item.propietario != nickUsuario && item.estado == 4" color = "red"> Horas actividad = - {{item.horasActividad}}</li>
            <li *ngIf= "item.estado == 4"> Horas Totales : {{item.horasTotal}}</li>
          </ul>

      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>