<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Actividades en curso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-card *ngFor="let item of result" >
      <ion-card-header >
        {{item.actividad}}
        El estado es : {{item.estado}}
        
        <button *ngIf="item.estado == 1" ion-button icon-end color="checkmark-circle" clear icon-only (click)="aceptarActivity(item.actividad , item.propietario , item.idCliente)">
          <ion-icon small  name='checkmark-circle' is-active="false"></ion-icon>
        </button>
        <button  *ngIf="item.estado == 1" ion-button icon-end color="danger" clear icon-only (click)="declinarActivity(item.actividad , item.propietario , item.idCliente)">
          <ion-icon small  name='close-circle' is-active="false"></ion-icon>
        </button>
        <button *ngIf="item.estado == 2 || item.estado == 3" ion-button icon-end color="dark" clear icon-only (click)="finalitzarActivity(item.actividad , item.propietario , item.idCliente)">
          <ion-icon small  name='pulse' is-active="false"></ion-icon>
        </button>
        <li *ngIf="item.estado == 1" class="c1">hola</li>
        <li *ngIf="item.estado == 10" class="c1"></li>
        <li *ngIf="item.estado == 2"class="c2"></li>
        <li *ngIf="item.estado == 4"class="c4">pringui</li>
        
        
      </ion-card-header>
      <ion-card-content>

        <ul><li> El propietario es {{item.propietario}}</li>
            <li><a routerLink="" (click)="perfilAjeno(item)"> El cliente es {{item.cliente}}</a></li>
          </ul>

      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>