page-notificaciones {
    .aceptar{
        text-align: center;
        width: 85%;
        height: 25px;
        background-color: rgb(89, 111, 172)
    }
    .denegar{
        text-align: center;
        width: 85%;
        height: 25px;
        background-color: rgba(255, 0, 0, 0.6);
    }
    .scroll {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }
}
