<ion-header>

    <ion-navbar>
      <ion-title>Editar Perfil</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-list align="center">
        
        <p align="center">
          <img src="{{foto}}" class="profile-image-perfil">
        </p>

        <input type="file" (change)="onFileSelected($event)">
        <button ion-button color="secondary" (click)="upload()">Cargar</button>
        
        <ion-item>
          <ion-label>Nombre:</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Apellido</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>Tag:</ion-label>
          <ion-input type="text" [(ngModel)]="tagAdd"></ion-input>
        </ion-item>
        <ion-buttons align="center">
          <button ion-button color="primary" class="add-tag" (click)="addTag()">Añadir</button>
        </ion-buttons>

          <!-- Listamos los tags que añadimos-->
        <ion-chip class="listaTags" *ngFor="let item of usuario.tags">
          <ion-label>{{item}}</ion-label>
          <button ion-button clear color="dark" (click)="deleteTag(item)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-chip>
      </ion-list>
    
        
      <div padding align="center">
        <button ion-button color="secondary" (click)="save()">Guardar</button>
        <button ion-button color="danger" (click)="cancel()">Cancelar</button>
      </div>
  </ion-content>

  <!--
          <ion-list>
          <hr>
          <ion-label>Tags Añadidos:</ion-label>
          <ion-item class="listaTags" *ngFor="let item of usuario.tags">
            <button ion-button class="tag-eliminar" (click)="deleteTag(item)">{{item}}</button>
          </ion-item>
      </ion-list>
  -->
  
