<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Crear Actividad</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>


      <ion-item>
        <ion-label>Título</ion-label>
        <ion-input type="text" [(ngModel)]="actividad.titulo"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-input type="text" [(ngModel)]="actividad.descripcion"></ion-input>
      </ion-item>
      <!--<ion-item>
        <ion-label>Ciudad</ion-label>
        <ion-input type="text" [(ngModel)]="actividad.ubicacion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Horas</ion-label>
        <ion-input type="text" [(ngModel)]="actividad.horasActividad"></ion-input>
      </ion-item>
      -->
      <ion-item>
          <ion-label>Ciudad</ion-label>
          <ion-select [(ngModel)]="actividad.ubicacion">
            <ion-option value="Barcelona">Barcelona</ion-option>
            <ion-option value="Castelldefels">Castelldefels</ion-option>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label>Horas</ion-label>
        <ion-select [(ngModel)]="actividad.horasActividad">
          <ion-option value=1>1</ion-option>
          <ion-option value=2>2</ion-option>
          <ion-option value=3>3</ion-option>
          <ion-option value=4>4</ion-option>
          <ion-option value=5>5</ion-option>
          <ion-option value=6>6</ion-option>
          <ion-option value=7>7</ion-option>
          <ion-option value=8>8</ion-option>
          <ion-option value=9>9</ion-option>
          <ion-option value=10>10</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Tag:</ion-label>
        <ion-input type="text" [(ngModel)]="tag"></ion-input>
      </ion-item>
      <ion-buttons align="center">
        <button ion-button color="primary" class="add-tag" (click)="addTag()">Añadir</button>
      </ion-buttons>

      <!-- Listamos los tags que añadimos-->
      <ion-chip class="listaTags" *ngFor="let item of actividad.tags">
        <ion-label>{{item}}</ion-label>
        <button ion-button clear color="dark" (click)="deleteTag(item)">
          <ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-chip>

    </ion-list>
      
      
    <div padding align="center">
      <button ion-button color="secondary" (click)="crearActividad()">Crear</button>
    </div>
</ion-content>

<!--
      <ion-list>
        <hr>
        <ion-label>Tags Añadidos:</ion-label>
        <ion-item class="listaTags" *ngFor="let item of actividad.tags">
          <button ion-button class="tag-eliminar" (click)="deleteTag(item)">{{item}}</button>
        </ion-item>
      </ion-list>  
-->
